

.timelineborder{
    margin-top: 20px;
    width: 100px;
    opacity: 0;
    color: #111;
    background-color: #111;
}

.memories{
   
    margin-bottom: 15%;
}


.memories h1{

    margin-top: 10%;
    margin-left: 34%;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    background: linear-gradient(to right,#18b868, #0a5bac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background: linear-gradient( to right ,  #ff23bd , #7327ff , #487bff  );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    

}





.memories p{
    text-align: center;
    width: 500px;
    font-size: 25px;
    font-family:cursive;
    margin-top: 25px;
    margin-left: 38%;
}





@media screen and (max-width:480px) {


    .timelineborder{
    margin-top: 20px;
    width: 10px;
    opacity: 0;
    color: #111;
    background-color: #111;
}

.memories{
    width: 400px;
    margin-top: 20%;
    margin-bottom: 5%;
}


.memories h1{
     width: 340px;
    margin-top: 10%;
    text-align: center;
    margin-left: 2%;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    background: linear-gradient(to right,#18b868, #0a5bac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background: linear-gradient( to right ,  #ff23bd , #7327ff , #487bff  );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.memories p{
    text-align: center;
    width: 300px;
    font-size: 15px;
    font-family:cursive;
    margin-top: 25px;
    margin-left: 8%;
}

    
}